

/* phone screens */
/* 576px / 16 =  36*/
@media (max-width:36rem) {

  html {
    font-size: 50%;
    /* 8px base => 8 / 16 = 0.5 */
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .notif_list {
    position: fixed;
    max-height: 35%;
    overflow: hidden;
    z-index: -1;
  }

}